.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0 5rem;
    font-family: "Inter Tight", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.nav-link {
    color: rgb(9, 229, 245);
    text-decoration: none;
}

.nav-link.active {
    color: rgb(29, 231, 22);
}
