th {
  padding: 1rem;
}

tr {
  border-radius: 10px;
  background-color: #000;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #333333;
}

.candidatesTable {
  margin: 2rem auto;
  width: 70%;
}

.savedCandidatesAvatar {
    width: 7rem;
    display: flex;
}

.fa-circle-minus {
    color: red;
    font-size: 4rem;
    background: none;
    padding: 0 1rem;
    border: 1px solid transparent;
  }

  .data {
    font-size: 1rem;
    padding: 0 1rem;
  }
